APP_NAME=admin-panel-api
CORS_ORIGINS=http://localhost:3000
PUBLIC_BASE_URL=http://localhost:8000
ADMIN_SERVICE_URL=
ONLINE_TRADING_SERVICE_URL=
NETFLOW_SERVICE_URL=
FILE_SERVICE_URL=
MARKETER_SERVICE_URL=
SEJAM_SERVICE_URL=
